  body {
  background-color: #bebebe;
  font: Verdana;
  font-size: 1.1em;
  color: #ffffff;
}
.info_bg p {
  margin-bottom: -.2em;
}
.climate_bg {
  position: absolute;
  top: 0;
  left: 235px;
  z-index: 6;
  width: 163px;
  height: 149px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.weathericon {
  display: block;
  position: absolute;
  left: -7.773006%;
  z-index: 5;
  width: 180px;
  bottom: -20px;
  height: auto;
  overflow: hidden;
}
.check-weather{
  position: absolute;
  bottom: 208px;
  padding: 40px;
  background-color: #1ab1ed;
  border-radius: 10px;
  width: 396px;
  height: 85px;
}
.check-weather p {
  position: absolute;;
  top:10px;
  left: 25px;
  font-size: 17px;
}
#check-weather-input{
  color: #000000;
  border-radius: 10px;
  padding: 3px;
}
#check-weather-button{
  border: 1px solid;
  border-radius: 10px;
  padding: 3px;
  margin-left: 10px;
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 398px;
  height: 208px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(0, 36, 184);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}
.dropicon {
  display: block;
  position: absolute;
  top: 9px;
  left: -1.911043%;
  z-index: 3;
  width: 45px;
  height: auto;
  overflow: hidden;
}
.not-available, .error {
  position: absolute;
  top: 228px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 208px;
  margin: 0 auto;
  font: 1.625em/1.38 'Trebuchet MS';
  color: rgb(248, 6, 6);
}
.humidity {
  position: absolute;
  top: 19px;
  left: 29px;
  z-index: 2;
  width: 46px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}
.info_bg {
  position: absolute;
  top: 149px;
  left: 235px;
  z-index: 4;
  width: 163px;
  height: 59px;
  border-bottom-right-radius: 10px;
  background-color: #1ab1ed;
}
.location {
  position: absolute;
  top: 90px;
  left: 35px;
  z-index: 8;
  width: 180px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.sunriseImg {
  position: absolute;
  top: 124px;
  width: 80px;
  left: 19px;
}
.sunsetImg {
  position: absolute;
  top: 124px;
  width: 80px;
  left: 141px;
}
.sunrise {
  position: absolute;
  top: 182px;
  left: 27px;
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.sunset{
  position: absolute;
  top: 182px;
  left: 148px;
  font-size: 17px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.temperature {
  position: absolute;
  left: 35px;
  top: 10px;
  z-index: 7;
  font-size: 4.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.windicon {
  display: block;
  position: absolute;
  top: 9px;
  left: 43.1173312883%;
  z-index: 1;
  width: 43px;
  height: auto;
  overflow: hidden;
}
.windspeed {
  position: absolute;
  top: 9px;
  left: 109px;
  width: 50px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}
.windspeed p {
  margin-bottom: -.2em;
}
